  <h1>Hello <%= @user.first_name.capitalize + ' ' + @user.last_name.capitalize %> and welcome home !</h1>
  <p>
    You registerd on our app using this email address: <%= @user.email %>.
  </p>
  <p>
    To access your profile, sign in here : <%= @url %>.
  </p>
  <p> See ya ! </p>